# AWS Configuration
aws_region = "us-west-2"

# VPC Configuration
vpc_cidr = "10.0.0.0/16"

# EKS Configuration
cluster_name = "regulaai-eks"
environment  = "production"

# Node Group Configuration
node_group_instance_types = ["t3.large"]
node_group_desired_size   = 2
node_group_max_size       = 4
node_group_min_size       = 1

# S3 Configuration
s3_bucket_name = "regulaai-storage" 